<a href="https://colab.research.google.com/github/Euan-J-Austin/Analytics_and_Intelligence/blob/main/RandomForestChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Prepare data set
2. Create RF regressor (y is continuous)
3. Measure accuracy
4. Tune model
5. Generate insights

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import ParameterGrid
from sklearn.ensemble import RandomForestRegressor

In [6]:
df = pd.read_csv('/content/marketing_campaign.csv')

In [7]:
df.head(3)

,Unnamed: 0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,0,5524,1957,Graduation,Single,58138.0,0,0,04/09/2012,58,...,10,4,7,0,0,0,0,0,0,1
1,1,2174,1954,Graduation,Single,46344.0,1,1,08/03/2014,38,...,1,2,5,0,0,0,0,0,0,0
2,2,4141,1965,Graduation,Together,71613.0,0,0,21/08/2013,26,...,2,10,4,0,0,0,0,0,0,0

In [8]:
df_na = df[df.isna().any(axis=1)]

In [9]:
df_na

,Unnamed: 0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
10,10,1994,1983,Graduation,Married,NaN,1,0,15/11/2013,11,...,0,2,7,0,0,0,0,0,0,0
27,27,5255,1986,Graduation,Single,NaN,1,0,20/02/2013,19,...,0,0,1,0,0,0,0,0,0,0
43,43,7281,1959,PhD,Single,NaN,0,0,05/11/2013,80,...,3,4,2,0,0,0,0,0,0,0
48,48,7244,1951,Graduation,Single,NaN,2,1,01/01/2014,96,...,1,4,6,0,0,0,0,0,0,0
58,58,8557,1982,Graduation,Single,NaN,1,0,17/06/2013,57,...,0,3,6,0,0,0,0,0,0,0
71,71,10629,1973,2n Cycle,Married,NaN,1,0,14/09/2012,25,...,0,3,8,0,0,0,0,0,0,0
90,90,8996,1957,PhD,Married,NaN,2,1,19/11/2012,4,...,2,8,9,0,0,0,0,0,0,0
91,91,9235,1957,Graduation,Single,NaN,1,1,27/05/2014,45,...,0,2,7,0,0,0,0,0,0,0
92,92,5798,1973,Master,Together,NaN,0,0,23/11/2013,87,...,4,8,1,0,0,0,0,0,0,0
128,128,8268,1961,PhD,Married,NaN,0,1,11/07/2013,23,...,1,7,6,0,0,0,0,0,0,0
133,133,1295,1963,Graduation,Married,NaN,0,1,11/08/2013,96,...,5,7,4,0,0,0,0,0,0,0
312,312,2437,1989,Graduation,Married,NaN,0,0,03/06/2013,69,...,5,12,3,0,1,0,1,0,0,0
319,319,2863,1970,Graduation,Single,NaN,1,2,23/08/2013,67,...,3,10,7,0,1,0,1,0,0,0
1379,1379,10475,1970,Master,Together,NaN,0,1,01/04/2013,39,...,2,6,5,0,0,0,0,0,0,0
1382,1382,2902,1958,Graduation,Together,NaN,1,1,03/09/2012,87,...,0,3,5,0,0,0,0,0,0,0
1383,1383,4345,1964,2n Cycle,Single,NaN,1,1,12/01/2014,49,...,0,2,7,0,0,0,0,0,0,0
1386,1386,3769,1972,PhD,Together,NaN,1,0,02/03/2014,17,...,0,3,7,0,0,0,0,0,0,0
2059,2059,7187,1969,Master,Together,NaN,1,1,18/05/2013,52,...,10,4,3,0,0,0,0,0,0,0
2061,2061,1612,1981,PhD,Single,NaN,1,0,31/05/2013,82,...,0,3,6,0,0,0,0,0,0,0
2078,2078,5079,1971,Graduation,Married,NaN,1,1,03/03/2013,82,...,1,3,8,0,0,0,0,0,0,0
2079,2079,10339,1954,Master,Together,NaN,0,1,23/06/2013,83,...,1,4,6,0,0,0,0,0,0,0
2081,2081,3117,1955,Graduation,Single,NaN,0,1,18/10/2013,95,...,1,5,7,0,0,0,0,0,0,0
2084,2084,5250,1943,Master,Widow,NaN,0,0,30/10/2013,75,...,5,11,1,0,0,1,0,0,0,1
2228,2228,8720,1978,2n Cycle,Together,NaN,0,0,12/08/2012,53,...,0,1,0,0,1,0,0,0,0,0

In [10]:
#deal with missing values .. no income is retired, no responded?
#2n cycle to master

# Imputing missing data

In this case, it is the income values.

Will try MissForest, MiceForest, KNN ... expecting that MissForest will be superior.

Will have to enact in JupyterNotebooks locally, save results and upload to this notebook